.bloques--wrap{
    display: flex;
    flex-direction: column;
    .bloques--title{
        margin-left: 18%;
    }
    .primer--bloque_wrap{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
        .bloques--mothers{
            position: absolute;
            right: -5%;
            height: 80%;
            width: 20%;
            filter: opacity(1);
            opacity: 0.4;
        }
    .bloques--grafico1{
        width: 40%;
        height: 10%;
        margin-left: 20%;
        margin-top: 3%;
    }
}
    .bloques--title2{
        align-self: flex-end;
        margin-right: 5%;
        margin-top: 5%;
    }
    .bloques--png_wrap{
        display: flex;
        justify-content: space-between;
        .bloques{
            width: 450px;
            height: 450px;
            filter: opacity(1);
            opacity: 0.2;
        }
        .bloques--grafico2{
            align-self:flex-end;
            width: 50%;
            height: 40%;
            margin-right: 5%;
            margin-bottom: 3%;
        }
    }
    .bloques--grafico3_wrap{    
        display: flex;
        justify-content: space-between;
        align-items: center;
      
        .bloques--grafico3{
            margin-left: 18%;
            width: 40%;
            height: 10%;
        }
        .bloques--mother{
            width: 30%;
            height: 30%;
        }
    }
}
@media screen and(max-width:1200px){
    .bloques--wrap{
        .primer--bloque_wrap{
            .bloques--mothers{
                display: none;
            }
        }
        .bloques--title2{
            font-size: 0.8rem;
            margin-left: 18%;
        }
        .bloques--title{
            font-size: 0.9rem;

        }
        .bloques--grafico1{
            width: 70%;
            margin-left: 10%;
        }
     .bloques--png_wrap{
        .bloques--grafico2{
            width: 70%;
            margin-right: 0%;
            margin-left: 18%;
            margin-top: 3%;
        }
     }
        
       .bloques{
           display: none;
       }
       .bloques--mother{
           display: none;
       }
        
    }
    .bloques--grafico3{
        margin-left: 0%;
    }
    
}