.quienesSomos--wrap{
    width: 100%;
    position: relative;

   h2{
        position:absolute;
        top:0;
        margin-top: 3%;
        margin-left: 3%;
        color:#fff; 
   }

    img{
        width: 100%;
        height: 100%;
    }
}
.quienesAcompanan--wrap{
    padding: 1.5rem;
    padding-right: 2rem;
    .quienesAcompanan--title{
        margin-bottom: 2%;
    }
    .empresas{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .empresa{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            .sirius--image{
                width: 150px;
            }
            .horizonte--maxima_image{
                width: 50%;
                height: 50%;
            }
            img{
                width: 40%;
                border-radius: 50%;
            }
            h4{
                width: 60%;
                font-weight: bold;
            }
            p{
                width: 70%;
                font-size: 1em;
                line-height: 1.2rem;
            }
        }
    }
    .fundacion--imagen_responsive{
        display: none;
    }
}
@media screen and(max-width:1000px) {
    
    .quienesAcompanan--wrap{
        margin: 0;
        .fundacion--imagen_responsive{
            display: block;
        }
        .empresas{

            #fundacionHorizonte{
                display: none;
               
                }
                .empresa{

                    .sirius--image{
                        width: 150px;
                    }
                    
                    img{
                        width: 40%;
                    }
                    h4{
                        width: 100%;
                        margin-top: 5%;
                    }
                    p{
                        width:80%;
                    }
            }
        
        }
        }
    }
    
