.main--info{
    display: flex;
    justify-content: space-between;
    background-color: #428C8C;

    .info--left{
        width: 30%;
        margin-left: 18%;
        margin-top: 5%;
        margin-bottom: 8%;
        .info--titles{
            margin-bottom: 3%;
            color: #ffff;
        }
        .info--text{
            margin-bottom: 5%;
            color: #ffff;
        }
       
    }
    .info--right{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 20%;
        margin-right: 18%;
        margin-top: 5%;
        #info2{
            position: relative;
            right: 100px;
        }
    }
}